<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href="/favicon.ico" type="image/x-icon" rel="icon" />


    </head>
    <body>


        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Casiano Rodríguez León<br />
                Departamento de Informática<br />
                crguezl at ull dot edu dot es
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://plus.google.com/+CasianoRodriguezLeon">plus.google.com/+CasianoRodriguezLeon</a><br />
                <a href="https://github.com/crguezl">github.com/crguezl</a><br />
                <a href="https://twitter.com/crguezl">twitter.com/crguezl</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
